* {
    margin: 0;
    padding: 0;
}

.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100%;
  
  }
  
.second-page {
    height: 100%;
    background-color: #212529;
    color: white;
}

.second-page .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    size: 5%;
}

.third-page {
    height: 100vh;
}

.third-page .col {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .up-mid {
    background-color: grey;
}

.side {
    background-color: grey;
} */

.fourth-page {
    height: 100vh;
}

.fourth-page .col-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-page .col-6 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: white;
}

.fifth-page{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.fifth-page .black {
    background-color:white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-page .grey {
    width: 100%;
    background-color:#212529;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
